@font-face {
font-family: 'icons';
src: url("../assets/fonts/icons.ttf") format("truetype"),
url("../assets/fonts/icons.eot") format("embedded-opentype"),
url("../assets/fonts/icons.woff") format("woff");
}
.lm {
    font-family: 'icons' !important;
    font-size: 18px;
    font-style:normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.lm-grammerly:before { content: "\ea01"; }
.lm-speedometer:before { content: "\ea02"; }
.lm-diamonds:before { content: "\ea03"; }
.lm-judge:before { content: "\ea04"; }
.lm-level:before { content: "\ea05"; }
.lm-lamp-2:before { content: "\ea06"; }
.lm-tree:before { content: "\ea07"; }
.lm-bubble:before { content: "\ea08"; }
.lm-tag-right:before { content: "\ea09"; }
.lm-milk:before { content: "\ea0a"; }
.lm-ghost:before { content: "\ea0b"; }
.lm-mouse-square:before { content: "\ea0c"; }
.lm-mouse-circle:before { content: "\ea0d"; }
.lm-forbidden:before { content: "\ea0e"; }
.lm-mouse-2:before { content: "\ea0f"; }
.lm-ranking-2:before { content: "\ea10"; }
.lm-filter-remove:before { content: "\ea11"; }
.lm-broom:before { content: "\ea12"; }
.lm-forbidden-2:before { content: "\ea13"; }
.lm-signpost:before { content: "\ea14"; }
.lm-home:before { content: "\ea15"; }
.lm-filter-edit:before { content: "\ea16"; }
.lm-smart-home:before { content: "\ea17"; }
.lm-filter-search:before { content: "\ea18"; }
.lm-filter-add:before { content: "\ea19"; }
.lm-filter-tick:before { content: "\ea1a"; }
.lm-mirror:before { content: "\ea1b"; }
.lm-home-wifi:before { content: "\ea1c"; }
.lm-safe-home:before { content: "\ea1d"; }
.lm-status:before { content: "\ea1e"; }
.lm-slider:before { content: "\ea1f"; }
.lm-wifi:before { content: "\ea20"; }
.lm-wifi-square:before { content: "\ea21"; }
.lm-trush-square:before { content: "\ea22"; }
.lm-warning-2:before { content: "\ea23"; }
.lm-cd:before { content: "\ea24"; }
.lm-story:before { content: "\ea25"; }
.lm-bluetooth-circle:before { content: "\ea26"; }
.lm-bluetooth:before { content: "\ea27"; }
.lm-cloud-change:before { content: "\ea28"; }
.lm-monitor-recorder:before { content: "\ea29"; }
.lm-speaker:before { content: "\ea2a"; }
.lm-driver:before { content: "\ea2b"; }
.lm-driver-refresh:before { content: "\ea2c"; }
.lm-driver-2:before { content: "\ea2d"; }
.lm-cloud-add:before { content: "\ea2e"; }
.lm-cloud-connection:before { content: "\ea2f"; }
.lm-external-drive:before { content: "\ea30"; }
.lm-keyboard-open:before { content: "\ea31"; }
.lm-music-play:before { content: "\ea32"; }
.lm-gameboy:before { content: "\ea33"; }
.lm-watch:before { content: "\ea34"; }
.lm-devices-2:before { content: "\ea35"; }
.lm-bluetooth-2:before { content: "\ea36"; }
.lm-bluetooth-rectangle:before { content: "\ea37"; }
.lm-watch-status:before { content: "\ea38"; }
.lm-airpods:before { content: "\ea39"; }
.lm-headphones:before { content: "\ea3a"; }
.lm-mobile:before { content: "\ea3b"; }
.lm-airdrop:before { content: "\ea3c"; }
.lm-microscope:before { content: "\ea3d"; }
.lm-cloud-remove:before { content: "\ea3e"; }
.lm-folder-connection:before { content: "\ea3f"; }
.lm-simcard:before { content: "\ea40"; }
.lm-electricity:before { content: "\ea41"; }
.lm-mirroring-screen:before { content: "\ea42"; }
.lm-card-coin:before { content: "\ea43"; }
.lm-bitcoin-card:before { content: "\ea44"; }
.lm-trade:before { content: "\ea45"; }
.lm-buy-crypto:before { content: "\ea46"; }
.lm-bitcoin-convert:before { content: "\ea47"; }
.lm-bitcoin-refresh:before { content: "\ea48"; }
.lm-security-time:before { content: "\ea49"; }
.lm-calendar-search:before { content: "\ea4a"; }
.lm-calendar-tick:before { content: "\ea4b"; }
.lm-calendar-add:before { content: "\ea4c"; }
.lm-calendar-3:before { content: "\ea4d"; }
.lm-calendar-edit:before { content: "\ea4e"; }
.lm-calendar-remove:before { content: "\ea4f"; }
.lm-calendar:before { content: "\ea50"; }
.lm-calendar-circle:before { content: "\ea51"; }
.lm-save-add:before { content: "\ea52"; }
.lm-receipt-square:before { content: "\ea53"; }
.lm-book-square:before { content: "\ea54"; }
.lm-save-2:before { content: "\ea55"; }
.lm-book-saved:before { content: "\ea56"; }
.lm-save-remove:before { content: "\ea57"; }
.lm-save-minus:before { content: "\ea58"; }
.lm-grid-lock:before { content: "\ea59"; }
.lm-grid-edit:before { content: "\ea5a"; }
.lm-grid-eraser:before { content: "\ea5b"; }
.lm-truck:before { content: "\ea5c"; }
.lm-truck-fast:before { content: "\ea5d"; }
.lm-icon-9865:before { content: "\ea5e"; }
.lm-icon-984654:before { content: "\ea5f"; }
.lm-3d-rotate:before { content: "\ea60"; }
.lm-convert-3d-cube:before { content: "\ea61"; }
.lm-box-add:before { content: "\ea62"; }
.lm-3d-cube-scan:before { content: "\ea63"; }
.lm-box-tick:before { content: "\ea64"; }
.lm-box-time:before { content: "\ea65"; }
.lm-box-search:before { content: "\ea66"; }
.lm-box-remove:before { content: "\ea67"; }
.lm-3d-square:before { content: "\ea68"; }
.lm-box:before { content: "\ea69"; }
.lm-truck-tick:before { content: "\ea6a"; }
.lm-heart-slash:before { content: "\ea6b"; }
.lm-heart-edit:before { content: "\ea6c"; }
.lm-smileys:before { content: "\ea6d"; }
.lm-heart-remove:before { content: "\ea6e"; }
.lm-message-question:before { content: "\ea6f"; }
.lm-heart-circle:before { content: "\ea70"; }
.lm-star:before { content: "\ea71"; }
.lm-magic-star:before { content: "\ea72"; }
.lm-heart-search:before { content: "\ea73"; }
.lm-ranking:before { content: "\ea74"; }
.lm-heart-tick:before { content: "\ea75"; }
.lm-medal:before { content: "\ea76"; }
.lm-lovely:before { content: "\ea77"; }
.lm-like:before { content: "\ea78"; }
.lm-like-dislike:before { content: "\ea79"; }
.lm-unlimited:before { content: "\ea7a"; }
.lm-like-shapes:before { content: "\ea7b"; }
.lm-heart-add:before { content: "\ea7c"; }
.lm-24-support:before { content: "\ea7d"; }
.lm-like-tag:before { content: "\ea7e"; }
.lm-medal-star:before { content: "\ea7f"; }
.lm-message-search:before { content: "\ea80"; }
.lm-device-message:before { content: "\ea81"; }
.lm-messages:before { content: "\ea82"; }
.lm-messages-2:before { content: "\ea83"; }
.lm-messages-3:before { content: "\ea84"; }
.lm-sms:before { content: "\ea85"; }
.lm-sms-tracking:before { content: "\ea86"; }
.lm-sms-notification:before { content: "\ea87"; }
.lm-sms-edit:before { content: "\ea88"; }
.lm-sms-star:before { content: "\ea89"; }
.lm-sms-search:before { content: "\ea8a"; }
.lm-message-tick:before { content: "\ea8b"; }
.lm-message-circle:before { content: "\ea8c"; }
.lm-message-square:before { content: "\ea8d"; }
.lm-message-text-45:before { content: "\ea8e"; }
.lm-message-edit-98:before { content: "\ea8f"; }
.lm-message-remove:before { content: "\ea90"; }
.lm-message-2:before { content: "\ea91"; }
.lm-message-time:before { content: "\ea92"; }
.lm-messages-354:before { content: "\ea93"; }
.lm-message-add:before { content: "\ea94"; }
.lm-message-minus:before { content: "\ea95"; }
.lm-message-add-78:before { content: "\ea96"; }
.lm-received:before { content: "\ea97"; }
.lm-arrange-circle:before { content: "\ea98"; }
.lm-arrange-circle-2:before { content: "\ea99"; }
.lm-repeat:before { content: "\ea9a"; }
.lm-repeat-circle:before { content: "\ea9b"; }
.lm-send-square:before { content: "\ea9c"; }
.lm-receive-square:before { content: "\ea9d"; }
.lm-send:before { content: "\ea9e"; }
.lm-forward-square:before { content: "\ea9f"; }
.lm-arrow-3:before { content: "\eaa0"; }
.lm-arrow-2:before { content: "\eaa1"; }
.lm-arrange-square:before { content: "\eaa2"; }
.lm-refresh-right-square:before { content: "\eaa3"; }
.lm-back-square:before { content: "\eaa4"; }
.lm-refresh-circle:before { content: "\eaa5"; }
.lm-arrange-square-2:before { content: "\eaa6"; }
.lm-send-sqaure-2:before { content: "\eaa7"; }
.lm-receive-square-2:before { content: "\eaa8"; }
.lm-refresh-left-square:before { content: "\eaa9"; }
.lm-refresh-square-2:before { content: "\eaaa"; }
.lm-folder-open:before { content: "\eaab"; }
.lm-folder-cloud:before { content: "\eaac"; }
.lm-shopping-cart:before { content: "\eaad"; }
.lm-shopping-bag:before { content: "\eaae"; }
.lm-shop-remove:before { content: "\eaaf"; }
.lm-barcode:before { content: "\eab0"; }
.lm-candle:before { content: "\eab1"; }
.lm-candle-2:before { content: "\eab2"; }
.lm-menu:before { content: "\eab3"; }
.lm-settings:before { content: "\eab4"; }
.lm-backward:before { content: "\eab5"; }
.lm-scissor:before { content: "\eab6"; }
.lm-forward:before { content: "\eab7"; }
.lm-previous:before { content: "\eab8"; }
.lm-next:before { content: "\eab9"; }
.lm-music-dashboard:before { content: "\eaba"; }
.lm-music-square-add:before { content: "\eabb"; }
.lm-music-square-search:before { content: "\eabc"; }
.lm-maximize-circle:before { content: "\eabd"; }
.lm-audio-square:before { content: "\eabe"; }
.lm-forward-15-seconds:before { content: "\eabf"; }
.lm-video-time:before { content: "\eac0"; }
.lm-music-playlist:before { content: "\eac1"; }
.lm-music-library-2:before { content: "\eac2"; }
.lm-video-add:before { content: "\eac3"; }
.lm-video-tick:before { content: "\eac4"; }
.lm-voice-cricle:before { content: "\eac5"; }
.lm-backward-15-seconds:before { content: "\eac6"; }
.lm-video-remove:before { content: "\eac7"; }
.lm-music-square-remove:before { content: "\eac8"; }
.lm-forward-10-seconds:before { content: "\eac9"; }
.lm-voice-square:before { content: "\eaca"; }
.lm-video-octagon:before { content: "\eacb"; }
.lm-repeate-music:before { content: "\eacc"; }
.lm-repeate-one:before { content: "\eacd"; }
.lm-forward-5-seconds:before { content: "\eace"; }
.lm-shuffle:before { content: "\eacf"; }
.lm-music-square:before { content: "\ead0"; }
.lm-devices:before { content: "\ead1"; }
.lm-note-square:before { content: "\ead2"; }
.lm-mini-music-sqaure:before { content: "\ead3"; }
.lm-play-cricle:before { content: "\ead4"; }
.lm-radio:before { content: "\ead5"; }
.lm-play-remove:before { content: "\ead6"; }
.lm-music-circle:before { content: "\ead7"; }
.lm-backward-10-seconds:before { content: "\ead8"; }
.lm-backward-5-seconds:before { content: "\ead9"; }
.lm-play-add:before { content: "\eada"; }
.lm-music-filter:before { content: "\eadb"; }
.lm-buildings:before { content: "\eadc"; }
.lm-buildings-2:before { content: "\eadd"; }
.lm-building-4:before { content: "\eade"; }
.lm-house:before { content: "\eadf"; }
.lm-bank:before { content: "\eae0"; }
.lm-house-2:before { content: "\eae1"; }
.lm-buliding:before { content: "\eae2"; }
.lm-hospital:before { content: "\eae3"; }
.lm-courthouse:before { content: "\eae4"; }
.lm-building-3:before { content: "\eae5"; }
.lm-shapes:before { content: "\eae6"; }
.lm-pen-add:before { content: "\eae7"; }
.lm-bucket-square:before { content: "\eae8"; }
.lm-omega-square:before { content: "\eae9"; }
.lm-flash-circle:before { content: "\eaea"; }
.lm-eraser-31:before { content: "\eaeb"; }
.lm-mask-4asd654:before { content: "\eaec"; }
.lm-colors-square:before { content: "\eaed"; }
.lm-mask-987654:before { content: "\eaee"; }
.lm-blur:before { content: "\eaef"; }
.lm-brush-asdad:before { content: "\eaf0"; }
.lm-main-component:before { content: "\eaf1"; }
.lm-colorfilter:before { content: "\eaf2"; }
.lm-backward-item:before { content: "\eaf3"; }
.lm-component:before { content: "\eaf4"; }
.lm-forward-item:before { content: "\eaf5"; }
.lm-mask-654654:before { content: "\eaf6"; }
.lm-pen-tool-2:before { content: "\eaf7"; }
.lm-omega-circle:before { content: "\eaf8"; }
.lm-bucket-circle:before { content: "\eaf9"; }
.lm-bezier:before { content: "\eafa"; }
.lm-pen-remove:before { content: "\eafb"; }
.lm-pen-close:before { content: "\eafc"; }
.lm-maximize:before { content: "\eafd"; }
.lm-eraser:before { content: "\eafe"; }
.lm-attach-square:before { content: "\eaff"; }
.lm-attach-circle:before { content: "\eb00"; }
.lm-quote-up-square:before { content: "\eb01"; }
.lm-quote-down:before { content: "\eb02"; }
.lm-quote-down-square:before { content: "\eb03"; }
.lm-quote-down-circle:before { content: "\eb04"; }
.lm-quote-up:before { content: "\eb05"; }
.lm-link-987:before { content: "\eb06"; }
.lm-link-circle:before { content: "\eb07"; }
.lm-link-square:before { content: "\eb08"; }
.lm-translate:before { content: "\eb09"; }
.lm-language-square:before { content: "\eb0a"; }
.lm-quote-up-circle:before { content: "\eb0b"; }
.lm-language-circle:before { content: "\eb0c"; }
.lm-data:before { content: "\eb0d"; }
.lm-hierarchy:before { content: "\eb0e"; }
.lm-command-square:before { content: "\eb0f"; }
.lm-programming-arrow:before { content: "\eb10"; }
.lm-hierarchy-2:before { content: "\eb11"; }
.lm-hierarchy-square-2:before { content: "\eb12"; }
.lm-command:before { content: "\eb13"; }
.lm-message-programming:before { content: "\eb14"; }
.lm-hierarchy-square-3:before { content: "\eb15"; }
.lm-hierarchy-3:before { content: "\eb16"; }
.lm-document-code-2:before { content: "\eb17"; }
.lm-mobile-programming:before { content: "\eb18"; }
.lm-programming-arrows:before { content: "\eb19"; }
.lm-data-2:before { content: "\eb1a"; }
.lm-document-code:before { content: "\eb1b"; }
.lm-hierarchy-square:before { content: "\eb1c"; }
.lm-code-circle:before { content: "\eb1d"; }
.lm-ship:before { content: "\eb1e"; }
.lm-driving:before { content: "\eb1f"; }
.lm-gas-station:before { content: "\eb20"; }
.lm-bus:before { content: "\eb21"; }
.lm-smart-car:before { content: "\eb22"; }
.lm-finger-scan:before { content: "\eb23"; }
.lm-scanner:before { content: "\eb24"; }
.lm-security:before { content: "\eb25"; }
.lm-security-user:before { content: "\eb26"; }
.lm-alarm:before { content: "\eb27"; }
.lm-lock:before { content: "\eb28"; }
.lm-finger-cricle:before { content: "\eb29"; }
.lm-lock-circle:before { content: "\eb2a"; }
.lm-radar-4523:before { content: "\eb2b"; }
.lm-security-safe:before { content: "\eb2c"; }
.lm-wallet-remove:before { content: "\eb2d"; }
.lm-receipt-text:before { content: "\eb2e"; }
.lm-moneys:before { content: "\eb2f"; }
.lm-empty-wallet:before { content: "\eb30"; }
.lm-transaction-minus:before { content: "\eb31"; }
.lm-discount-circle:before { content: "\eb32"; }
.lm-money-remove:before { content: "\eb33"; }
.lm-money:before { content: "\eb34"; }
.lm-empty-wallet-tick:before { content: "\eb35"; }
.lm-percentage-circle:before { content: "\eb36"; }
.lm-receipt-discount:before { content: "\eb37"; }
.lm-strongbox-2:before { content: "\eb38"; }
.lm-money-time:before { content: "\eb39"; }
.lm-empty-wallet-add:before { content: "\eb3a"; }
.lm-receipt:before { content: "\eb3b"; }
.lm-card-remove:before { content: "\eb3c"; }
.lm-money-tick:before { content: "\eb3d"; }
.lm-money-forbidden:before { content: "\eb3e"; }
.lm-wallet-2:before { content: "\eb3f"; }
.lm-receipt-search:before { content: "\eb40"; }
.lm-money-4:before { content: "\eb41"; }
.lm-receipt-item:before { content: "\eb42"; }
.lm-percentage-square:before { content: "\eb43"; }
.lm-coin:before { content: "\eb44"; }
.lm-discount-shape:before { content: "\eb45"; }
.lm-empty-wallet-change:before { content: "\eb46"; }
.lm-wallet-add:before { content: "\eb47"; }
.lm-empty-wallet-time:before { content: "\eb48"; }
.lm-empty-wallet-remove:before { content: "\eb49"; }
.lm-money-change:before { content: "\eb4a"; }
.lm-money-add:before { content: "\eb4b"; }
.lm-money-3:before { content: "\eb4c"; }
.lm-wallet-check:before { content: "\eb4d"; }
.lm-convert-card:before { content: "\eb4e"; }
.lm-wallet-search:before { content: "\eb4f"; }
.lm-money-2:before { content: "\eb50"; }
.lm-receipt-2:before { content: "\eb51"; }
.lm-wallet:before { content: "\eb52"; }
.lm-money-recive:before { content: "\eb53"; }
.lm-wallet-3:before { content: "\eb54"; }
.lm-money-send:before { content: "\eb55"; }
.lm-security-card:before { content: "\eb56"; }
.lm-strongbox:before { content: "\eb57"; }
.lm-wallet-money:before { content: "\eb58"; }
.lm-cards:before { content: "\eb59"; }
.lm-receipt-edit:before { content: "\eb5a"; }
.lm-receipt-add:before { content: "\eb5b"; }
.lm-chart-square:before { content: "\eb5c"; }
.lm-receipt-minus:before { content: "\eb5d"; }
.lm-card-tick:before { content: "\eb5e"; }
.lm-archive:before { content: "\eb5f"; }
.lm-gemini:before { content: "\eb60"; }
.lm-gemini-2:before { content: "\eb61"; }
.lm-aquarius:before { content: "\eb62"; }
.lm-sagittarius:before { content: "\eb63"; }
.lm-user-octagon:before { content: "\eb64"; }
.lm-user-cirlce-add:before { content: "\eb65"; }
.lm-user-square:before { content: "\eb66"; }
.lm-user:before { content: "\eb67"; }
.lm-user-add:before { content: "\eb68"; }
.lm-user-remove:before { content: "\eb69"; }
.lm-user-tick:before { content: "\eb6a"; }
.lm-user-minus:before { content: "\eb6b"; }
.lm-people:before { content: "\eb6c"; }
.lm-tag-user:before { content: "\eb6d"; }
.lm-user-tag:before { content: "\eb6e"; }
.lm-user-edit:before { content: "\eb6f"; }
.lm-user-search:before { content: "\eb70"; }
.lm-chart-5:before { content: "\eb71"; }
.lm-presention-chart:before { content: "\eb72"; }
.lm-diagram:before { content: "\eb73"; }
.lm-note-favorite:before { content: "\eb74"; }
.lm-menu-board:before { content: "\eb75"; }
.lm-document-cloud:before { content: "\eb76"; }
.lm-bill:before { content: "\eb77"; }
.lm-document-filter:before { content: "\eb78"; }
.lm-archive-book:before { content: "\eb79"; }
.lm-note-text:before { content: "\eb7a"; }
.lm-copyright:before { content: "\eb7b"; }
.lm-creative-commons:before { content: "\eb7c"; }
.lm-drop:before { content: "\eb7d"; }
.lm-wind:before { content: "\eb7e"; }
.lm-sun:before { content: "\eb7f"; }
.lm-sun-fog:before { content: "\eb80"; }
.lm-wind-2:before { content: "\eb81"; }
.lm-cloud-fog:before { content: "\eb82"; }
.lm-flash:before { content: "\eb83"; }
.lm-map:before { content: "\eb84"; }
.lm-global-search:before { content: "\eb85"; }
.lm-radar-2:before { content: "\eb86"; }
.lm-global-edit:before { content: "\eb87"; }
.lm-arrow-square:before { content: "\eb88"; }
.lm-picture-frame:before { content: "\eb89"; }
.lm-radar:before { content: "\eb8a"; }
.lm-routing-2:before { content: "\eb8b"; }
.lm-arrow:before { content: "\eb8c"; }
.lm-route-square:before { content: "\eb8d"; }
.lm-trash:before { content: "\eb8e"; }
.lm-battery-full:before { content: "\eb8f"; }
.lm-battery-empty-2:before { content: "\eb90"; }
.lm-battery-empty:before { content: "\eb91"; }
.lm-battery-charging:before { content: "\eb92"; }
.lm-battery-disable:before { content: "\eb93"; }
.lm-home-3:before { content: "\eb94"; }
.lm-home-2:before { content: "\eb95"; }
.lm-tick-circle:before { content: "\eb96"; }
.lm-more-square:before { content: "\eb97"; }
.lm-info-circle:before { content: "\eb98"; }
.lm-danger:before { content: "\eb99"; }
.lm-add:before { content: "\eb9a"; }
.lm-more-circle:before { content: "\eb9b"; }
.lm-minus:before { content: "\eb9c"; }
.lm-add-circle:before { content: "\eb9d"; }
.lm-minus-cirlce:before { content: "\eb9e"; }
.lm-close-circle:before { content: "\eb9f"; }
.lm-minus-square:before { content: "\eba0"; }
.lm-tick-square:before { content: "\eba1"; }
.lm-flash-2:before { content: "\eba2"; }
.lm-flash-slash:before { content: "\eba3"; }
.lm-flash-circle-2:before { content: "\eba4"; }
.lm-close-square:before { content: "\eba5"; }
.lm-share:before { content: "\eba6"; }
.lm-cake:before { content: "\eba7"; }
.lm-chart:before { content: "\eba8"; }
.lm-archive-3:before { content: "\eba9"; }
.lm-chrome:before { content: "\ebaa"; }
.lm-instagram:before { content: "\ebab"; }
.lm-pet:before { content: "\ebac"; }
.lm-happyemoji:before { content: "\ebad"; }
.lm-reserve:before { content: "\ebae"; }
.lm-sticker:before { content: "\ebaf"; }
.lm-slash:before { content: "\ebb0"; }
.lm-computing:before { content: "\ebb1"; }
.lm-verify:before { content: "\ebb2"; }
.lm-coffee:before { content: "\ebb3"; }
.lm-tag-cross:before { content: "\ebb4"; }
.lm-crown:before { content: "\ebb5"; }
.lm-flag:before { content: "\ebb6"; }
.lm-flag-2:before { content: "\ebb7"; }
.lm-menu-2:before { content: "\ebb8"; }
.lm-emoji-happy:before { content: "\ebb9"; }
.lm-emoji-sad:before { content: "\ebba"; }
.lm-emoji-normal:before { content: "\ebbb"; }
.lm-crown-2:before { content: "\ebbc"; }
.lm-cup:before { content: "\ebbd"; }
.lm-information:before { content: "\ebbe"; }
.lm-glass-2:before { content: "\ebbf"; }
.lm-battery-23full:before { content: "\ebc0"; }
.lm-weight-2:before { content: "\ebc1"; }
.lm-discover-2:before { content: "\ebc2"; }
.lm-sound:before { content: "\ebc3"; }
.lm-add-square:before { content: "\ebc4"; }
.lm-sort:before { content: "\ebc5"; }
.lm-send-2:before { content: "\ebc6"; }
.lm-send-3:before { content: "\ebc7"; }
.lm-filter:before { content: "\ebc8"; }
.lm-3dcube:before { content: "\ebc9"; }
.lm-triangle-2:before { content: "\ebca"; }
.lm-autobrightness:before { content: "\ebcb"; }
.lm-filter-square:before { content: "\ebcc"; }
.lm-call-add:before { content: "\ebcd"; }
.lm-call-slash:before { content: "\ebce"; }
.lm-call-received:before { content: "\ebcf"; }
.lm-call-incoming:before { content: "\ebd0"; }
.lm-call-calling:before { content: "\ebd1"; }
.lm-call-outgoing:before { content: "\ebd2"; }
.lm-call-remove:before { content: "\ebd3"; }
.lm-call-minus:before { content: "\ebd4"; }
.lm-call:before { content: "\ebd5"; }
.lm-monitor:before { content: "\ebd6"; }
.lm-cpu-setting:before { content: "\ebd7"; }
.lm-monitor-mobbile:before { content: "\ebd8"; }
.lm-airpod:before { content: "\ebd9"; }
.lm-headphone:before { content: "\ebda"; }
.lm-cpu-charge:before { content: "\ebdb"; }
.lm-cpu:before { content: "\ebdc"; }
.lm-mouse:before { content: "\ebdd"; }
.lm-simcard-3:before { content: "\ebde"; }
.lm-ram-2:before { content: "\ebdf"; }
.lm-printer-slash:before { content: "\ebe0"; }
.lm-game:before { content: "\ebe1"; }
.lm-simcard-2:before { content: "\ebe2"; }
.lm-lamp:before { content: "\ebe3"; }
.lm-keyboard:before { content: "\ebe4"; }
.lm-printer:before { content: "\ebe5"; }
.lm-clock-2:before { content: "\ebe6"; }
.lm-weight:before { content: "\ebe7"; }
.lm-ram:before { content: "\ebe8"; }
.lm-timer-3:before { content: "\ebe9"; }
.lm-clock:before { content: "\ebea"; }
.lm-timer-start:before { content: "\ebeb"; }
.lm-timer-pause:before { content: "\ebec"; }
.lm-timer:before { content: "\ebed"; }
.lm-calendar-2:before { content: "\ebee"; }
.lm-archive-2:before { content: "\ebef"; }
.lm-archive-tick:before { content: "\ebf0"; }
.lm-archive-slash:before { content: "\ebf1"; }
.lm-archive-minus:before { content: "\ebf2"; }
.lm-archive-add:before { content: "\ebf3"; }
.lm-frame-sd44:before { content: "\ebf4"; }
.lm-grid-2:before { content: "\ebf5"; }
.lm-fatrows:before { content: "\ebf6"; }
.lm-grid-4:before { content: "\ebf7"; }
.lm-slider-horizontal:before { content: "\ebf8"; }
.lm-slider-vertical:before { content: "\ebf9"; }
.lm-grid-9:before { content: "\ebfa"; }
.lm-slider-vertical-9865:before { content: "\ebfb"; }
.lm-row-horizontal:before { content: "\ebfc"; }
.lm-slider-horizontal-123:before { content: "\ebfd"; }
.lm-grid-3:before { content: "\ebfe"; }
.lm-row-vertical:before { content: "\ebff"; }
.lm-grid-5:before { content: "\ec00"; }
.lm-grid-6:before { content: "\ec01"; }
.lm-grid-7:before { content: "\ec02"; }
.lm-grid-8:before { content: "\ec03"; }
.lm-element-2:before { content: "\ec04"; }
.lm-frame-ds5454:before { content: "\ec05"; }
.lm-element-3:before { content: "\ec06"; }
.lm-element-4:before { content: "\ec07"; }
.lm-element-plus:before { content: "\ec08"; }
.lm-grid-1:before { content: "\ec09"; }
.lm-3square:before { content: "\ec0a"; }
.lm-align-vertically:before { content: "\ec0b"; }
.lm-maximize-2:before { content: "\ec0c"; }
.lm-maximize-3:before { content: "\ec0d"; }
.lm-align-horizontally:before { content: "\ec0e"; }
.lm-frame-sadsad45646:before { content: "\ec0f"; }
.lm-maximize-4:before { content: "\ec10"; }
.lm-maximize-65211561:before { content: "\ec11"; }
.lm-element-equal:before { content: "\ec12"; }
.lm-align-bottom:before { content: "\ec13"; }
.lm-rotate-right-231654:before { content: "\ec14"; }
.lm-convertshape-2:before { content: "\ec15"; }
.lm-convertshape:before { content: "\ec16"; }
.lm-format-circle:before { content: "\ec17"; }
.lm-rotate-left-4654:before { content: "\ec18"; }
.lm-maximize-31651:before { content: "\ec19"; }
.lm-align-right:before { content: "\ec1a"; }
.lm-format-square:before { content: "\ec1b"; }
.lm-crop:before { content: "\ec1c"; }
.lm-align-left:before { content: "\ec1d"; }
.lm-box-64654:before { content: "\ec1e"; }
.lm-heart:before { content: "\ec1f"; }
.lm-star-2:before { content: "\ec20"; }
.lm-dislike:before { content: "\ec21"; }
.lm-star-slash:before { content: "\ec22"; }
.lm-like-2:before { content: "\ec23"; }
.lm-lamp-on:before { content: "\ec24"; }
.lm-notification-status:before { content: "\ec25"; }
.lm-notification-2:before { content: "\ec26"; }
.lm-notification-circle:before { content: "\ec27"; }
.lm-notification-favorite:before { content: "\ec28"; }
.lm-notification:before { content: "\ec29"; }
.lm-notification-bing:before { content: "\ec2a"; }
.lm-lamp-charge:before { content: "\ec2b"; }
.lm-lamp-slash:before { content: "\ec2c"; }
.lm-directbox-notif:before { content: "\ec2d"; }
.lm-directbox-receive:before { content: "\ec2e"; }
.lm-direct-normal:before { content: "\ec2f"; }
.lm-direct:before { content: "\ec30"; }
.lm-direct-notification:before { content: "\ec31"; }
.lm-direct-inbox:before { content: "\ec32"; }
.lm-direct-send:before { content: "\ec33"; }
.lm-message-65:before { content: "\ec34"; }
.lm-message-favorite:before { content: "\ec35"; }
.lm-message-notif:before { content: "\ec36"; }
.lm-message-text-12:before { content: "\ec37"; }
.lm-directbox-default:before { content: "\ec38"; }
.lm-directbox-send:before { content: "\ec39"; }
.lm-arrow-square-up:before { content: "\ec3a"; }
.lm-arrow-square-down:before { content: "\ec3b"; }
.lm-arrow-square-left:before { content: "\ec3c"; }
.lm-arrow-right:before { content: "\ec3d"; }
.lm-arrow-up:before { content: "\ec3e"; }
.lm-arrow-right-8732:before { content: "\ec3f"; }
.lm-arrow-bottom-87we:before { content: "\ec40"; }
.lm-arrow-up-sad45:before { content: "\ec41"; }
.lm-arrow-left:before { content: "\ec42"; }
.lm-arrow-down:before { content: "\ec43"; }
.lm-arrow-up-87541:before { content: "\ec44"; }
.lm-arrow-circle-right-2:before { content: "\ec45"; }
.lm-logout236454:before { content: "\ec46"; }
.lm-arrow-down-2:before { content: "\ec47"; }
.lm-arrow-left-2:before { content: "\ec48"; }
.lm-arrow-right-asdlkj:before { content: "\ec49"; }
.lm-arrow-left-28484sadsad:before { content: "\ec4a"; }
.lm-arrow-up-2-15:before { content: "\ec4b"; }
.lm-arrow-right-2-987:before { content: "\ec4c"; }
.lm-arrow-circle-left:before { content: "\ec4d"; }
.lm-arrow-down-98:before { content: "\ec4e"; }
.lm-arrow-circle-down:before { content: "\ec4f"; }
.lm-redo:before { content: "\ec50"; }
.lm-undo:before { content: "\ec51"; }
.lm-rotate-left:before { content: "\ec52"; }
.lm-rotate-right:before { content: "\ec53"; }
.lm-convert:before { content: "\ec54"; }
.lm-arrow-circle-up:before { content: "\ec55"; }
.lm-export:before { content: "\ec56"; }
.lm-logout-84:before { content: "\ec57"; }
.lm-refresh-87:before { content: "\ec58"; }
.lm-import-564564:before { content: "\ec59"; }
.lm-export-89787:before { content: "\ec5a"; }
.lm-export-897:before { content: "\ec5b"; }
.lm-login-24:before { content: "\ec5c"; }
.lm-import-84654:before { content: "\ec5d"; }
.lm-frame-564654:before { content: "\ec5e"; }
.lm-arrow-swap-horizontal:before { content: "\ec5f"; }
.lm-import-987654:before { content: "\ec60"; }
.lm-export-9879:before { content: "\ec61"; }
.lm-login-564:before { content: "\ec62"; }
.lm-refresh-2:before { content: "\ec63"; }
.lm-arrow-swap-3:before { content: "\ec64"; }
.lm-arrow-left-3:before { content: "\ec65"; }
.lm-arrow-square-right:before { content: "\ec66"; }
.lm-folder-add:before { content: "\ec67"; }
.lm-folder-cross:before { content: "\ec68"; }
.lm-folder:before { content: "\ec69"; }
.lm-folder-minus:before { content: "\ec6a"; }
.lm-folder-favorite:before { content: "\ec6b"; }
.lm-folder-2:before { content: "\ec6c"; }
.lm-bag-happy:before { content: "\ec6d"; }
.lm-bag:before { content: "\ec6e"; }
.lm-bag-tick:before { content: "\ec6f"; }
.lm-bag-cross:before { content: "\ec70"; }
.lm-bag-tick-2:before { content: "\ec71"; }
.lm-bag-timer:before { content: "\ec72"; }
.lm-bag-cross-7895:before { content: "\ec73"; }
.lm-bag-2:before { content: "\ec74"; }
.lm-shop-add:before { content: "\ec75"; }
.lm-shop:before { content: "\ec76"; }
.lm-more:before { content: "\ec77"; }
.lm-more-2:before { content: "\ec78"; }
.lm-category:before { content: "\ec79"; }
.lm-category-2:before { content: "\ec7a"; }
.lm-setting-3:before { content: "\ec7b"; }
.lm-setting-2:before { content: "\ec7c"; }
.lm-toggle-on:before { content: "\ec7d"; }
.lm-setting-4:before { content: "\ec7e"; }
.lm-setting:before { content: "\ec7f"; }
.lm-toggle-off:before { content: "\ec80"; }
.lm-setting-5:before { content: "\ec81"; }
.lm-toggle-off-circle:before { content: "\ec82"; }
.lm-toggle-on-circle:before { content: "\ec83"; }
.lm-record:before { content: "\ec84"; }
.lm-play-circle:before { content: "\ec85"; }
.lm-microphone:before { content: "\ec86"; }
.lm-volume-cross:before { content: "\ec87"; }
.lm-pause-circle:before { content: "\ec88"; }
.lm-pause:before { content: "\ec89"; }
.lm-volume-low:before { content: "\ec8a"; }
.lm-microphone-2:before { content: "\ec8b"; }
.lm-microphone-slash:before { content: "\ec8c"; }
.lm-volume-up:before { content: "\ec8d"; }
.lm-microphone-slash-987:before { content: "\ec8e"; }
.lm-video:before { content: "\ec8f"; }
.lm-volume-low-654:before { content: "\ec90"; }
.lm-volume-slash:before { content: "\ec91"; }
.lm-volume-mute:before { content: "\ec92"; }
.lm-gallery:before { content: "\ec93"; }
.lm-volume-high:before { content: "\ec94"; }
.lm-video-slash:before { content: "\ec95"; }
.lm-video-square:before { content: "\ec96"; }
.lm-video-circle:before { content: "\ec97"; }
.lm-gallery-tick:before { content: "\ec98"; }
.lm-gallery-favorite:before { content: "\ec99"; }
.lm-gallery-slash:before { content: "\ec9a"; }
.lm-gallery-import:before { content: "\ec9b"; }
.lm-gallery-export:before { content: "\ec9c"; }
.lm-image:before { content: "\ec9d"; }
.lm-gallery-add:before { content: "\ec9e"; }
.lm-gallery-remove:before { content: "\ec9f"; }
.lm-gallery-edit:before { content: "\eca0"; }
.lm-musicnote:before { content: "\eca1"; }
.lm-play:before { content: "\eca2"; }
.lm-screenmirroring:before { content: "\eca3"; }
.lm-camera:before { content: "\eca4"; }
.lm-camera-slash:before { content: "\eca5"; }
.lm-video-vertical:before { content: "\eca6"; }
.lm-record-circle:before { content: "\eca7"; }
.lm-video-play:before { content: "\eca8"; }
.lm-stop-circle:before { content: "\eca9"; }
.lm-subtitle:before { content: "\ecaa"; }
.lm-video-horizontal:before { content: "\ecab"; }
.lm-stop:before { content: "\ecac"; }
.lm-music:before { content: "\ecad"; }
.lm-building:before { content: "\ecae"; }
.lm-additem:before { content: "\ecaf"; }
.lm-brush-64654:before { content: "\ecb0"; }
.lm-brush-654:before { content: "\ecb1"; }
.lm-path:before { content: "\ecb2"; }
.lm-glass:before { content: "\ecb3"; }
.lm-ruler-pen:before { content: "\ecb4"; }
.lm-blend-2:before { content: "\ecb5"; }
.lm-shapes-2:before { content: "\ecb6"; }
.lm-size:before { content: "\ecb7"; }
.lm-blend:before { content: "\ecb8"; }
.lm-path-square:before { content: "\ecb9"; }
.lm-layer:before { content: "\ecba"; }
.lm-copy:before { content: "\ecbb"; }
.lm-recovery-convert:before { content: "\ecbc"; }
.lm-copy-success:before { content: "\ecbd"; }
.lm-designtools:before { content: "\ecbe"; }
.lm-brush-654654:before { content: "\ecbf"; }
.lm-ruler:before { content: "\ecc0"; }
.lm-magicpen:before { content: "\ecc1"; }
.lm-paintbucket:before { content: "\ecc2"; }
.lm-brush-2:before { content: "\ecc3"; }
.lm-path-2:before { content: "\ecc4"; }
.lm-lifebuoy:before { content: "\ecc5"; }
.lm-briefcase:before { content: "\ecc6"; }
.lm-brifecase-timer:before { content: "\ecc7"; }
.lm-bookmark:before { content: "\ecc8"; }
.lm-brifecase-cross:before { content: "\ecc9"; }
.lm-book:before { content: "\ecca"; }
.lm-award:before { content: "\eccb"; }
.lm-brifecase-tick:before { content: "\eccc"; }
.lm-bookmark-2:before { content: "\eccd"; }
.lm-calculator:before { content: "\ecce"; }
.lm-book-54:before { content: "\eccf"; }
.lm-clipboard:before { content: "\ecd0"; }
.lm-note:before { content: "\ecd1"; }
.lm-note-2:before { content: "\ecd2"; }
.lm-teacher:before { content: "\ecd3"; }
.lm-gift:before { content: "\ecd4"; }
.lm-paperclip:before { content: "\ecd5"; }
.lm-textalign-right:before { content: "\ecd6"; }
.lm-link:before { content: "\ecd7"; }
.lm-link-we547:before { content: "\ecd8"; }
.lm-text-bold:before { content: "\ecd9"; }
.lm-paperclip-2:before { content: "\ecda"; }
.lm-text-italic:before { content: "\ecdb"; }
.lm-textalign-justifyleft:before { content: "\ecdc"; }
.lm-pharagraphspacing:before { content: "\ecdd"; }
.lm-smallcaps:before { content: "\ecde"; }
.lm-textalign-justifyright:before { content: "\ecdf"; }
.lm-text:before { content: "\ece0"; }
.lm-link-2:before { content: "\ece1"; }
.lm-firstline:before { content: "\ece2"; }
.lm-textalign-center:before { content: "\ece3"; }
.lm-text-underline:before { content: "\ece4"; }
.lm-textalign-left:before { content: "\ece5"; }
.lm-textalign-justifycenter:before { content: "\ece6"; }
.lm-text-block:before { content: "\ece7"; }
.lm-hashtag:before { content: "\ece8"; }
.lm-scroll:before { content: "\ece9"; }
.lm-sidebar-top:before { content: "\ecea"; }
.lm-sidebar-right:before { content: "\eceb"; }
.lm-code:before { content: "\ecec"; }
.lm-code-2:before { content: "\eced"; }
.lm-hashtag-up:before { content: "\ecee"; }
.lm-hashtag-down:before { content: "\ecef"; }
.lm-sidebar-bottom:before { content: "\ecf0"; }
.lm-sidebar-left:before { content: "\ecf1"; }
.lm-car:before { content: "\ecf2"; }
.lm-airplane-square:before { content: "\ecf3"; }
.lm-airplane:before { content: "\ecf4"; }
.lm-shield-tick:before { content: "\ecf5"; }
.lm-frame-98797:before { content: "\ecf6"; }
.lm-eye:before { content: "\ecf7"; }
.lm-shield-slash:before { content: "\ecf8"; }
.lm-password-check:before { content: "\ecf9"; }
.lm-key-square:before { content: "\ecfa"; }
.lm-eye-slash:before { content: "\ecfb"; }
.lm-shield-cross:before { content: "\ecfc"; }
.lm-key:before { content: "\ecfd"; }
.lm-check:before { content: "\ecfe"; }
.lm-lock-slash:before { content: "\ecff"; }
.lm-frame-546:before { content: "\ed00"; }
.lm-shield-search:before { content: "\ed01"; }
.lm-scan:before { content: "\ed02"; }
.lm-lock-3:before { content: "\ed03"; }
.lm-scanning:before { content: "\ed04"; }
.lm-unlock:before { content: "\ed05"; }
.lm-scan-barcode:before { content: "\ed06"; }
.lm-search-favorite:before { content: "\ed07"; }
.lm-search-zoom-in:before { content: "\ed08"; }
.lm-search-normal:before { content: "\ed09"; }
.lm-search-zoom-out:before { content: "\ed0a"; }
.lm-search-zoom-in-2:before { content: "\ed0b"; }
.lm-search-zoom-out-2:before { content: "\ed0c"; }
.lm-search-normal-2:before { content: "\ed0d"; }
.lm-search-status:before { content: "\ed0e"; }
.lm-search-status1:before { content: "\ed0f"; }
.lm-search-favorite-2:before { content: "\ed10"; }
.lm-coin-65:before { content: "\ed11"; }
.lm-document:before { content: "\ed12"; }
.lm-receipt-disscount:before { content: "\ed13"; }
.lm-receipt-254:before { content: "\ed14"; }
.lm-ticket-discount:before { content: "\ed15"; }
.lm-wallet-254564:before { content: "\ed16"; }
.lm-math:before { content: "\ed17"; }
.lm-ticket-expired:before { content: "\ed18"; }
.lm-card-remove-2:before { content: "\ed19"; }
.lm-ticket-2:before { content: "\ed1a"; }
.lm-ticket:before { content: "\ed1b"; }
.lm-ticket-star:before { content: "\ed1c"; }
.lm-frame:before { content: "\ed1d"; }
.lm-card-pos:before { content: "\ed1e"; }
.lm-card-tick-23:before { content: "\ed1f"; }
.lm-card-send:before { content: "\ed20"; }
.lm-card:before { content: "\ed21"; }
.lm-tag:before { content: "\ed22"; }
.lm-wallet-minus:before { content: "\ed23"; }
.lm-dollar-square:before { content: "\ed24"; }
.lm-wallet-add-5:before { content: "\ed25"; }
.lm-card-add:before { content: "\ed26"; }
.lm-receipt-87:before { content: "\ed27"; }
.lm-card-slash:before { content: "\ed28"; }
.lm-card-edit:before { content: "\ed29"; }
.lm-card-receive:before { content: "\ed2a"; }
.lm-tag-2:before { content: "\ed2b"; }
.lm-man:before { content: "\ed2c"; }
.lm-woman:before { content: "\ed2d"; }
.lm-profile-remove:before { content: "\ed2e"; }
.lm-profile-delete:before { content: "\ed2f"; }
.lm-profile-circle:before { content: "\ed30"; }
.lm-frame-654:before { content: "\ed31"; }
.lm-profile-add:before { content: "\ed32"; }
.lm-profile-tick:before { content: "\ed33"; }
.lm-profile-2user:before { content: "\ed34"; }
.lm-trend-up:before { content: "\ed35"; }
.lm-hashtag-2:before { content: "\ed36"; }
.lm-chart-4:before { content: "\ed37"; }
.lm-home-trend-down:before { content: "\ed38"; }
.lm-home-trend-up:before { content: "\ed39"; }
.lm-health:before { content: "\ed3a"; }
.lm-chart-fail:before { content: "\ed3b"; }
.lm-status-up:before { content: "\ed3c"; }
.lm-chart-3:before { content: "\ed3d"; }
.lm-chart-2:before { content: "\ed3e"; }
.lm-personalcard:before { content: "\ed3f"; }
.lm-favorite-chart:before { content: "\ed40"; }
.lm-trend-down:before { content: "\ed41"; }
.lm-activity:before { content: "\ed42"; }
.lm-home-hashtag:before { content: "\ed43"; }
.lm-graph:before { content: "\ed44"; }
.lm-chart-success:before { content: "\ed45"; }
.lm-note-add:before { content: "\ed46"; }
.lm-document-forward:before { content: "\ed47"; }
.lm-document-previous:before { content: "\ed48"; }
.lm-document-normal:before { content: "\ed49"; }
.lm-clipboard-text:before { content: "\ed4a"; }
.lm-clipboard-export:before { content: "\ed4b"; }
.lm-clipboard-import:before { content: "\ed4c"; }
.lm-task:before { content: "\ed4d"; }
.lm-note-4:before { content: "\ed4e"; }
.lm-note-remove:before { content: "\ed4f"; }
.lm-edit-2:before { content: "\ed50"; }
.lm-document-sketch:before { content: "\ed51"; }
.lm-document-upload:before { content: "\ed52"; }
.lm-edit:before { content: "\ed53"; }
.lm-task-square:before { content: "\ed54"; }
.lm-clipboard-tick:before { content: "\ed55"; }
.lm-document-copy:before { content: "\ed56"; }
.lm-document-text:before { content: "\ed57"; }
.lm-document-favorite:before { content: "\ed58"; }
.lm-document-download:before { content: "\ed59"; }
.lm-document-2:before { content: "\ed5a"; }
.lm-note-3:before { content: "\ed5b"; }
.lm-clipboard-close:before { content: "\ed5c"; }
.lm-stickynote:before { content: "\ed5d"; }
.lm-document-text-2:before { content: "\ed5e"; }
.lm-document-like-2:before { content: "\ed5f"; }
.lm-cloud-drizzle:before { content: "\ed60"; }
.lm-cloud-snow:before { content: "\ed61"; }
.lm-cloud-lightning:before { content: "\ed62"; }
.lm-cloud-minus:before { content: "\ed63"; }
.lm-cloud-cross:before { content: "\ed64"; }
.lm-cloud:before { content: "\ed65"; }
.lm-sun-7845:before { content: "\ed66"; }
.lm-cloud-sunny:before { content: "\ed67"; }
.lm-cloud-plus:before { content: "\ed68"; }
.lm-moon:before { content: "\ed69"; }
.lm-cloud-notif:before { content: "\ed6a"; }
.lm-direct-left:before { content: "\ed6b"; }
.lm-location-slash:before { content: "\ed6c"; }
.lm-direct-down:before { content: "\ed6d"; }
.lm-direct-up:before { content: "\ed6e"; }
.lm-map-594564:before { content: "\ed6f"; }
.lm-location-minus:before { content: "\ed70"; }
.lm-gps:before { content: "\ed71"; }
.lm-direct-right:before { content: "\ed72"; }
.lm-gps-slash:before { content: "\ed73"; }
.lm-discover:before { content: "\ed74"; }
.lm-location-add:before { content: "\ed75"; }
.lm-location:before { content: "\ed76"; }
.lm-location-tick:before { content: "\ed77"; }
.lm-global:before { content: "\ed78"; }
.lm-location-cross:before { content: "\ed79"; }
.lm-global-refresh:before { content: "\ed7a"; }
.lm-routing:before { content: "\ed7b"; }
.lm-ankr-ankr:before { content: "\ed7c"; }
.lm-civic-cvc:before { content: "\ed7d"; }
.lm-ethereum-eth:before { content: "\ed7e"; }
.lm-wanchain-wan:before { content: "\ed7f"; }
.lm-binance-coin-bnb:before { content: "\ed80"; }
.lm-wing-wing:before { content: "\ed81"; }
.lm-tether-usdt:before { content: "\ed82"; }
.lm-educare-ekt:before { content: "\ed83"; }
.lm-cardano-ada:before { content: "\ed84"; }
.lm-polyswarm-nct:before { content: "\ed85"; }
.lm-binance-usd-busd:before { content: "\ed86"; }
.lm-html-5:before { content: "\ed87"; }
.lm-chainlink-link:before { content: "\ed88"; }
.lm-apple:before { content: "\ed89"; }
.lm-eos-eos:before { content: "\ed8a"; }
.lm-ui8:before { content: "\ed8b"; }
.lm-solana-sol:before { content: "\ed8c"; }
.lm-slack:before { content: "\ed8d"; }
.lm-ftx-token-ftt:before { content: "\ed8e"; }
.lm-dropbox:before { content: "\ed8f"; }
.lm-xrp-xrp:before { content: "\ed90"; }
.lm-js:before { content: "\ed91"; }
.lm-trontron-trx:before { content: "\ed92"; }
.lm-okb-okb:before { content: "\ed93"; }
.lm-youtube:before { content: "\ed94"; }
.lm-bootstrap:before { content: "\ed95"; }
.lm-huobi-token-ht:before { content: "\ed96"; }
.lm-polkadot-dot:before { content: "\ed97"; }
.lm-whatsapp:before { content: "\ed98"; }
.lm-triangle:before { content: "\ed99"; }
.lm-thorchain-rune:before { content: "\ed9a"; }
.lm-polygon-matic:before { content: "\ed9b"; }
.lm-windows:before { content: "\ed9c"; }
.lm-android:before { content: "\ed9d"; }
.lm-ethereum-classic-etc:before { content: "\ed9e"; }
.lm-hex-hex:before { content: "\ed9f"; }
.lm-vuesax:before { content: "\eda0"; }
.lm-velas-vlx:before { content: "\eda1"; }
.lm-paypal:before { content: "\eda2"; }
.lm-stellar-xlm:before { content: "\eda3"; }
.lm-framer:before { content: "\eda4"; }
.lm-nem-xem:before { content: "\eda5"; }
.lm-google-drive:before { content: "\eda6"; }
.lm-dash-dash:before { content: "\eda7"; }
.lm-be:before { content: "\eda8"; }
.lm-nexo-nexo:before { content: "\eda9"; }
.lm-messenger:before { content: "\edaa"; }
.lm-decred-dcr:before { content: "\edab"; }
.lm-figma-35:before { content: "\edac"; }
.lm-ontology-ont:before { content: "\edad"; }
.lm-google-play:before { content: "\edae"; }
.lm-icon-icx:before { content: "\edaf"; }
.lm-google:before { content: "\edb0"; }
.lm-celo-celo:before { content: "\edb1"; }
.lm-twitch:before { content: "\edb2"; }
.lm-iost-iost:before { content: "\edb3"; }
.lm-python:before { content: "\edb4"; }
.lm-siacoin-sc:before { content: "\edb5"; }
.lm-bitcoin-btc:before { content: "\edb6"; }
.lm-ocean-protocol-ocean:before { content: "\edb7"; }
.lm-monero-xmr:before { content: "\edb8"; }
.lm-kyber-network-knc:before { content: "\edb9"; }
.lm-the-graph-grt:before { content: "\edba"; }
.lm-quant-qnt:before { content: "\edbb"; }
.lm-celsius-cel:before { content: "\edbc"; }
.lm-wanchain-wan78:before { content: "\edbd"; }
.lm-snapchat:before { content: "\edbe"; }
.lm-spotify:before { content: "\edbf"; }
.lm-zoom:before { content: "\edc0"; }
.lm-enjin-coin-enj:before { content: "\edc1"; }
.lm-augur-rep:before { content: "\edc2"; }
.lm-dent-dent:before { content: "\edc3"; }
.lm-litecoin-ltc:before { content: "\edc4"; }
.lm-nebulas-nas:before { content: "\edc5"; }
.lm-tenx-pay:before { content: "\edc6"; }
.lm-zel-zel:before { content: "\edc7"; }
.lm-xiaomi:before { content: "\edc8"; }
.lm-dribbble:before { content: "\edc9"; }
.lm-figma-89:before { content: "\edca"; }
.lm-usd-coin-usdc:before { content: "\edcb"; }
.lm-stacks-stx:before { content: "\edcc"; }
.lm-aave-aave:before { content: "\edcd"; }
.lm-hedera-hashgraph-hbar:before { content: "\edce"; }
.lm-dai-dai:before { content: "\edcf"; }
.lm-maker-mkr:before { content: "\edd0"; }
.lm-avalanche-avax:before { content: "\edd1"; }
.lm-vibe-vibe:before { content: "\edd2"; }
.lm-emercoin-emc:before { content: "\edd3"; }
.lm-autonio-niox:before { content: "\edd4"; }
.lm-theta-theta:before { content: "\edd5"; }
.lm-facebook:before { content: "\edd6"; }
.lm-xd:before { content: "\edd7"; }
.lm-group:before { content: "\edd8"; }
.lm-photoshop:before { content: "\edd9"; }
.lm-blogger:before { content: "\edda"; }
.lm-illustrator:before { content: "\eddb"; }
.lm-trello:before { content: "\eddc"; }
.lm-harmony-one:before { content: "\eddd"; }
.lm-javascript:before { content: "\edde"; }
.lm-html-3:before { content: "\eddf"; }
.lm-icon:before { content: "\ede0"; }
.lm-pen-tool:before { content: "\ede1"; }
.lm-scissor-as45:before { content: "\ede2"; }
.lm-color-swatch:before { content: "\ede3"; }
.lm-bucket:before { content: "\ede4"; }
